body{
     background-image: url(../images/01.jpg);
     background-attachment: fixed;
}

div.title{
    width:1000px;
    height:40px;
    background-color:gray;
    text-align: center;
    font-size:25px;
    font-family:"Impact";
    margin-bottom: 20px;
    padding: 10px 0px 0px 20px;
   
}
div.namae{
     width:1000px;
    height:40px;
    background-color:thistle;
    text-align: center;
    font-size:25px;
    font-family:"Impact";
    margin-bottom: 20px;
    padding: 10px 0px 0px 20px;
}



div.images{
    
    width:600px;
    height:300px;
    background-color:;
    font-size: 0;
    margin-left: 200px;
    margin-right: 200px;
     margin-bottom: 20px;
    
}
div.setumei{
     width:600px;
    height:200px;
    background-color:;
    font-size: 15;
    margin-left: 200px;
    margin-right: 200px;
     margin-bottom: 20px;
     text-align: center;
}

div.menu{
    font-size:0;
    width:1000px;
}




div.footer{
    width:1000px;
    height:45px;
    background-color:azure;
    font-size:30px;
    font-family: "Impact";
    text-align: center;
    margin-top: 20px;
    
}
span.menuitem{
    display:inline-block;
    width:245px;
    height:30px;
    text-align: center;
    background-color:teal;
    font-size:20px;
    font-family: "Impact";
    margin-top: 20px;
    margin-right: 5px;
     
}
